## Posttest 4  
Ibnu Yafi Arya Wardana  
2109106039  
A2-21 Informatika

In [152]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [153]:
df = pd.read_csv("phones_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1224 non-null   int64
 1   brand_name      1224 non-null   object
 2   model_name      1224 non-null   object
 3   os              1027 non-null   object
 4   popularity      1224 non-null   int64
 5   best_price      1224 non-null   int64
 6   lowest_price    963 non-null    float64
 7   highest_price   963 non-null    float64
 8   sellers_amount  1211 non-null   float64
 9   screen_size     1222 non-null   float64
 10  memory_size     1112 non-null   float64
 11  battery_size    1214 non-null   float64
 12  release_date    1224 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 124.4+ KB

## Data Split  
(Bagi dataset menjadi training set dan testing set dengan proporsi 70:30)

In [154]:
dataset_split = pd.read_csv("phones_data.csv")

X = dataset_split.iloc[:, :-1]
y = dataset_split.iloc[:, -1]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

print("Dimensi X_train:", X_train.shape)
print("Dimensi X_test:",  X_test.shape)
print("Dimensi y_train:", y_train.shape)
print("Dimensi y_test:",  y_test.shape)

Dimensi X_train: (856, 12)
Dimensi X_test: (368, 12)
Dimensi y_train: (856,)
Dimensi y_test: (368,)

## Normalisasi dan Standardisasi
(Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu))

Normalisasi

In [155]:
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()

x_normies = min_max_scaler.fit_transform(
    dataset_split [[
        'best_price',
        'lowest_price', 
        'highest_price', 
        'sellers_amount'
    ]])

Normalisasi = pd.DataFrame(x_normies)

Normalisasi.head(10)

          0         1         2         3
0  0.026419  0.026726  0.022789  0.282258
1  0.028442  0.029337  0.032392  0.282258
2  0.028442  0.029337  0.032392  0.282258
3  0.028442  0.029337  0.032392  0.282258
4  0.031950       NaN       NaN  0.072581
5  0.190646  0.209494  0.155798  0.008065
6  0.067749       NaN       NaN  0.008065
7  0.085183  0.091062  0.072610  0.040323
8  0.087456  0.096223  0.071564  0.016129
9  0.084735  0.089315  0.073714  0.056452

Standardisasi:

In [156]:
from sklearn.preprocessing import StandardScaler

standard_scaler = StandardScaler()

x_standee = standard_scaler.fit_transform(
    dataset_split [[
        'best_price',
        'lowest_price', 
        'highest_price', 
        'sellers_amount'
    ]])

Standardisasi = pd.DataFrame(x_standee)

Standardisasi.head(10)

          0         1         2         3
0 -0.703569 -0.723686 -0.701304  0.925738
1 -0.690854 -0.708497 -0.643103  0.925738
2 -0.690854 -0.708497 -0.643103  0.925738
3 -0.690854 -0.708497 -0.643103  0.925738
4 -0.668800       NaN       NaN -0.333999
5  0.328793  0.339806  0.104817 -0.721610
6 -0.443762       NaN       NaN -0.721610
7 -0.334169 -0.349326 -0.399356 -0.527804
8 -0.319879 -0.319298 -0.405697 -0.673159
9 -0.336982 -0.359491 -0.392667 -0.430902

## Data Cleaning (NULL Remover)

Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada). Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

In [157]:
df = pd.read_csv("phones_data.csv")
df.isna().sum()

Unnamed: 0          0
brand_name          0
model_name          0
os                197
popularity          0
best_price          0
lowest_price      261
highest_price     261
sellers_amount     13
screen_size         2
memory_size       112
battery_size       10
release_date        0
dtype: int64

In [158]:
from sklearn.impute import SimpleImputer

##### Modus:

In [159]:
imputer = SimpleImputer(strategy='most_frequent')
df['os'] = imputer.fit_transform(df[['os']])

#### Median:

In [160]:
imputer = SimpleImputer(strategy='median')
df['sellers_amount'] = imputer.fit_transform(df[['sellers_amount']])

#### Mean:

In [161]:
imputer = SimpleImputer(strategy='mean')
df[['lowest_price',
    'highest_price',
    'memory_size',
    'screen_size',
    'battery_size']] = imputer.fit_transform(df[['lowest_price',
                                                 'highest_price',
                                                 'memory_size',
                                                 'screen_size',
                                                 'battery_size']])

In [162]:
df.isna().sum()

Unnamed: 0        0
brand_name        0
model_name        0
os                0
popularity        0
best_price        0
lowest_price      0
highest_price     0
sellers_amount    0
screen_size       0
memory_size       0
battery_size      0
release_date      0
dtype: int64

## Data Cleaning (Duplicate Cleaning)
Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

In [163]:
df.duplicated().sum()

3

In [164]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

0

## Tipe Data
Ganti tipe data salah satu attribute angka

In [165]:
df['popularity'] = df['popularity'].astype('float64')

df.dtypes

Unnamed: 0          int64
brand_name         object
model_name         object
os                 object
popularity        float64
best_price          int64
lowest_price      float64
highest_price     float64
sellers_amount    float64
screen_size       float64
memory_size       float64
battery_size      float64
release_date       object
dtype: object

## One Hot Encoding

Lakukan one hot encoding pada dataset yang kalian miliki.

In [166]:
from sklearn.preprocessing import OneHotEncoder

onehot_enc = OneHotEncoder(sparse=False)
onehot = onehot_enc.fit_transform(df[["os"]])
df_onehot = pd.DataFrame(onehot)
df = df.join(df_onehot)
df.head(30)

,Unnamed: 0,brand_name,model_name,os,popularity,best_price,lowest_price,highest_price,sellers_amount,screen_size,memory_size,battery_size,release_date,0,1,2,3,4,5
0,0,ALCATEL,1 1/8GB Bluish Black (5033D-2JALUAA),Android,422.0,1690,1529.000000,1819.000000,36.0,5.00,8.000000,2000.0,20-Oct,1.0,0.0,0.0,0.0,0.0,0.0
1,1,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,323.0,1803,1659.000000,2489.000000,36.0,5.00,16.000000,2000.0,20-Sep,1.0,0.0,0.0,0.0,0.0,0.0
2,2,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,299.0,1803,1659.000000,2489.000000,36.0,5.00,16.000000,2000.0,20-Sep,1.0,0.0,0.0,0.0,0.0,0.0
3,3,ALCATEL,1 5033D 1/16GB Volcano Black (5033D-2LALUAF),Android,287.0,1803,1659.000000,2489.000000,36.0,5.00,16.000000,2000.0,20-Sep,1.0,0.0,0.0,0.0,0.0,0.0
4,4,Nokia,1.3 1/16GB Charcoal,Android,1047.0,1999,7722.739356,9892.357217,10.0,5.71,16.000000,3000.0,20-Apr,1.0,0.0,0.0,0.0,0.0,0.0
5,5,Honor,10 6/64GB Black,Android,71.0,10865,10631.000000,11099.000000,2.0,5.80,64.000000,3400.0,18-Jun,1.0,0.0,0.0,0.0,0.0,0.0
6,6,Honor,10 Lite 3/32GB Blue,Android,424.0,3999,7722.739356,9892.357217,2.0,6.21,32.000000,3400.0,18-Dec,1.0,0.0,0.0,0.0,0.0,0.0
7,7,Honor,10 Lite 4/64GB Black,Android,134.0,4973,4733.000000,5295.000000,6.0,6.21,64.000000,3400.0,19-Jan,1.0,0.0,0.0,0.0,0.0,0.0
8,8,Honor,10 lite 3/128GB Blue,Android,477.0,5100,4990.000000,5222.000000,3.0,6.21,128.000000,3400.0,21-Jan,1.0,0.0,0.0,0.0,0.0,0.0
9,9,Honor,10 lite 3/64GB Black,Android,215.0,4948,4646.000000,5372.000000,8.0,6.21,64.000000,3400.0,18-Dec,1.0,0.0,0.0,0.0,0.0,0.0
10,10,Honor,10 lite 3/64GB Black,Android,179.0,4948,4646.000000,5372.000000,8.0,6.21,64.000000,3400.0,18-Dec,1.0,0.0,0.0,0.0,0.0,0.0
11,11,Honor,10 lite 3/64GB Blue,Android,437.0,5165,4897.000000,5559.000000,7.0,6.21,64.000000,3400.0,18-Dec,1.0,0.0,0.0,0.0,0.0,0.0
12,12,Nokia,105 DS 2019 Pink (16KIGP01A01),Android,18.0,583,528.000000,649.000000,28.0,1.77,0.004000,800.0,19-Oct,1.0,0.0,0.0,0.0,0.0,0.0
13,13,Nokia,105 Dual Sim 2019 Black (16KIGB01A01),Android,262.0,601,539.000000,703.000000,31.0,1.77,95.772001,800.0,19-Nov,1.0,0.0,0.0,0.0,0.0,0.0
14,14,Nokia,105 Dual Sim 2019 Black (16KIGB01A01),Android,274.0,601,539.000000,703.000000,31.0,1.77,95.772001,800.0,19-Nov,1.0,0.0,0.0,0.0,0.0,0.0
15,15,Nokia,105 Dual Sim New Black (A00028315),Android,507.0,552,499.000000,606.000000,2.0,1.80,0.004000,800.0,17-Sep,1.0,0.0,0.0,0.0,0.0,0.0
16,16,Nokia,105 Single Sim 2019 Black (16KIGB01A13),Android,805.0,536,449.000000,642.000000,31.0,1.77,95.772001,800.0,19-Nov,1.0,0.0,0.0,0.0,0.0,0.0
17,17,Nokia,105 Single Sim 2019 Pink (16KIGP01A13),Android,692.0,547,496.000000,709.000000,35.0,1.77,95.772001,800.0,19-Nov,1.0,0.0,0.0,0.0,0.0,0.0
18,18,Nokia,105 Single Sim New Black (A00028356),Android,460.0,663,499.000000,1169.000000,5.0,1.80,0.004000,800.0,17-Sep,1.0,0.0,0.0,0.0,0.0,0.0
19,19,Nokia,105 Single Sim New Black (A00028356),Android,455.0,663,499.000000,1169.000000,5.0,1.80,0.004000,800.0,17-Sep,1.0,0.0,0.0,0.0,0.0,0.0
20,20,Nokia,105 Single Sim New Blue (A00028372),Android,378.0,474,450.000000,499.000000,2.0,1.80,0.004000,800.0,17-Sep,1.0,0.0,0.0,0.0,0.0,0.0
21,21,Nokia,105 Single Sim New White (A00028371),Android,59.0,499,7722.739356,9892.357217,1.0,1.80,0.004000,800.0,17-Sep,1.0,0.0,0.0,0.0,0.0,0.0
22,22,Nokia,106 New DS Grey (16NEBD01A02),Android,838.0,596,544.000000,699.000000,35.0,1.80,95.772001,800.0,19-Jan,1.0,0.0,0.0,0.0,0.0,0.0
23,23,Nokia,106 New DS Grey (16NEBD01A02),Android,841.0,596,544.000000,699.000000,35.0,1.80,95.772001,800.0,19-Jan,1.0,0.0,0.0,0.0,0.0,0.0
24,24,Honor,10i 4/128GB Black (51093VQV),Android,532.0,5499,7722.739356,9892.357217,2.0,6.21,128.000000,3400.0,19-May,1.0,0.0,0.0,0.0,0.0,0.0
25,25,Honor,10i 4/128GB Blue (51093VQX),Android,444.0,5499,7722.739356,9892.357217,2.0,6.21,128.000000,3400.0,19-May,1.0,0.0,0.0,0.0,0.0,0.0
26,26,Nokia,110 Dual Sim 2019 Black (16NKLB01A07),Android,471.0,710,640.000000,1164.000000,34.0,1.77,95.772001,800.0,19-Nov,1.0,0.0,0.0,0.0,0.0,0.0
27,27,Nokia,110 Dual Sim 2019 Blue (16NKLL01A04),Android,248.0,702,640.000000,909.000000,36.0,1.77,95.772001,800.0,19-Nov,1.0,0.0,0.0,0.0,0.0,0.0
28,28,Nokia,125 Dual Sim Black (16GMNB01A17),Android,807.0,992,899.000000,1249.000000,50.0,2.40,95.772001,1020.0,20-Jul,1.0,0.0,0.0,0.0,0.0,0.0
29,29,Meizu,15 4/128GB Black,Android,490.0,6584,7722.739356,9892.357217,1.0,5.45,128.000000,3000.0,18-May,1.0,0.0,0.0,0.0,0.0,0.0